</section> <!-- closing id=content -->
<br />
<footer>
<ul>
<li><a title="About, Help, Contact" href="/post/site-info">info</a></li> 
<li><a title="Recently Updated Articles" href="<!-- tmpl_var name="cgi_app" -->/changes">changes</a></li> 
<li><a title="Show Tags" href="<!-- tmpl_var name="cgi_app" -->/tags">tags</a></li> 
</ul>
<p>
               <a href="<!-- tmpl_var name="cgi_app" -->/textsize/small"     title="Switch to small text size"><span style="font-size:90%">A</span></a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/textsize/medium"    title="Switch to default text size"><span style="font-size:120%">A</span></a>
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/textsize/large"     title="Switch to large text size"><span style="font-size:150%">A</span></a>
</p>
<p>
               <a href="<!-- tmpl_var name="cgi_app" -->/fonttype/serif"     title="Switch to serif font">serif</a> 
 &nbsp; &nbsp; <a href="<!-- tmpl_var name="cgi_app" -->/fonttype/sansserif" title="Switch to sans-serif font">sans-serif</a> 
</p>
<div>
&copy; 2014 <a href="<!-- tmpl_var name="home_page" -->"><strong><!-- tmpl_var name="site_name" --></strong></a> <!-- - <!-- tmpl_var name="site_description" --> -->
</div>
<div>
current date: <!-- tmpl_var name="serverdatetime" -->
</div>
</footer>

<!-- </div> --> <!-- close scroll_text div id in header template files -->

</body>
</html>

